{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>
<hr/>

<div class="contents">
  {{ partial "post-info.html" . }}
  {{ .Content }}
</div>

<br/>
<hr/>

{{ if .Params.tags }}
<div>
  {{ range .Params.tags }}
  <span class="label label-primary">
    <a href="/tags/{{ . | urlize }}" style="color: white;">{{ . }}</a>
  </span>
  &nbsp;
  {{ end }}
</div>
{{ end }}

<div class="like">
  <div class="fb-like " data-href="{{ .Permalink }}" data-layout="button"
       data-action="like" data-show-faces="true" data-share="true"></div>
</div>

<hr/>

{{ template "_internal/disqus.html" . }}

{{ partial "footer.html" . }}
