{{ partial "header.html" . }}

<div class="page-header">
  <h1>
    {{ .Title }}
  </h1>
</div>

{{ partial "contents.html" . }}

<hr/>

<div>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  &nbsp;
  {{ range .Params.categories }}
  <span class="label label-success">
    <a href="/categories/{{ . | urlize }}" style="color: white;">{{ . }}</a>
  </span>
  &nbsp;
  {{ end }}
</div>

<div>
  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
  &nbsp;
  {{ range .Params.tags }}
  <span class="label label-primary">
    <a href="/tags/{{ . | urlize }}" style="color: white;">{{ . }}</a>
  </span>
  &nbsp;
  {{ end }}
</div>

<hr/>

{{ partial "footer.html" . }}
