<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <title>{{ .Title }}</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/heobot.css">

  <meta property="og:title"             content="{{ .Title }}"/>
  <meta property="og:site_name"         content="{{ .Site.Title }}"/>
  <meta property="og:url"               content="{{ .Permalink }}"/>
  {{ if .Site.Params.profile }}
  <meta property="og:image"             content="{{ .Site.Params.profile }}"/>
  {{ else }}
  <meta property="og:image"             content="/images/brand.png"/>
  {{ end }}
  {{ if .IsPage }}
  <meta property="og:description"       content="{{ .Summary }}"/>
  {{ end }}

  <meta property="twitter:title"        content="{{ .Title }}">
  <meta property="twitter:site"         content="{{ .Site.Title }}">
  {{ if .Site.Params.profile }}
  <meta property="twitter:image"        content="{{ .Site.Params.profile }}">
  {{ else }}
  <meta property="twitter:image"        content="/images/brand.png">
  {{ end }}
  <meta property="twitter:creator"      content="{{ .Site.Params.author }}">
  {{ if .IsPage }}
  <meta property="twitter:description"  content="{{ .Summary }}">
  {{ end }}

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {{ .Site.Title }}
          </a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/post">Archives</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>

  <div class="container">
