<section class="side">

  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-12">
      {{ $categories := .Site.Taxonomies.categories }}
      {{ if $categories }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <ul class="list-group">
          {{ range $name, $taxonomy := $categories }}
          <a href="/categories/{{ $name | urlize }}" class="list-group-item">{{ $name }}</a>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>

    <div class="col-xs-12 col-sm-3 col-md-12">
      {{ $tags := .Site.Taxonomies.tags }}
      {{ if $tags }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tags</h3>
        </div>
        <ul class="list-group">
          {{ range $name, $taxonomy := $tags }}
          <a href="/tags/{{ $name | urlize }}" class="list-group-item">{{ $name }}</a>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>

    <div class="col-xs-12 col-sm-3 col-md-12">
      <div class="thumbnail">
        {{ if .Site.Params.profile }}
        <img src="{{ .Site.Params.profile }}">
        {{ else }}
        <img src="/images/brand.png">
        {{ end }}

        <div class="caption">
          <h4>{{ .Site.Params.author }}</h4>
          <p>{{ .Site.Params.aboutme }}</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-12">
      <ul class="list-group">
        {{ if .Site.Params.github }}
        <a href="https://github.com/{{ .Site.Params.github }}" class="list-group-item">
          github
        </a>
        {{ end }}

        {{ if .Site.Params.twitter}}
        <a href="https://twitter.com/{{ .Site.Params.twitter}}" class="list-group-item">
          twitter
        </a>
        {{ end }}
      </ul>
    </div>
  </div>

</section>
