<section class="side">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-12">
      {{ $categories := .Site.Taxonomies.categories }}
      {{ if $categories }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          {{ range $name, $taxonomy := $categories }}
          <span class="label label-success tag"><a href="/categories/{{ $name | urlize }}" style="color: white;">{{ $name }}</a></span>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-12">
      {{ $tags := .Site.Taxonomies.tags }}
      {{ if $tags }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tags</h3>
        </div>
        <div class="panel-body">
          {{ range $name, $taxonomy := $tags }}
          <span class="label label-primary tag"><a href="/tags/{{ $name | urlize }}" style="color: white;">{{ $name }}</a></span>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-12">
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="thumbnail">
            {{ if .Site.Params.profile }}
            <img src="{{ .Site.Params.profile }}">
            {{ else }}
            <img src="/images/brand.png">
            {{ end }}

            <div class="caption">
              <h4>{{ .Site.Params.author }}
                <small> {{ .Site.Params.nickname }}</small>
              </h4>
              <p>{{ .Site.Params.aboutme }}</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-12">
          <ul class="list-group">
            {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}"
               class="list-group-item">
              <i class="fa fa-github fa-fw"></i> github
            </a>
            {{ end }}

            {{ if .Site.Params.facebook}}
            <a href="https://facebook.com/{{ .Site.Params.facebook}}"
               class="list-group-item">
              <i class="fa fa-facebook fa-fw"></i> facebook
            </a>
            {{ end }}

            {{ if .Site.Params.twitter}}
            <a href="https://twitter.com/{{ .Site.Params.twitter}}"
               class="list-group-item">
              <i class="fa fa-twitter fa-fw"></i> twitter
            </a>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
