pre code {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}

.hljs {
  background: transparent;
}

.footer {
  text-align: center;
  padding: 50px;
}

.contents > h1, h2 {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.navbar {
  border-radius: 0px;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  border: 1px solid #cccccc;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
}

blockquote {
  font-size: 1em;
  margin-left: 10px;
  color: #787878;
}

.tag {
  margin: 1px;
}
